* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: "header header header header" 10rem "sidebar item1 item2 item3" 1fr "sidebar item4 item5 item6" 1fr "sidebar item7 item8 item9" 1fr "sidebar item10 item11 item12" 1fr "footer footer footer footer" 10rem;
}

.container .card {
  font-family: 'Roboto', sans-serif;
  height: 20rem;
  background: #067bc2;
  position: relative;
  border: 1px solid #000;
  color: #fff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container .card .info {
  height: 60%;
  width: 100%;
  position: relative;
}

.container .card .info .price, .container .card .info .promo {
  font-size: 1.2em;
}

.container .card .info .price {
  position: absolute;
  top: .5rem;
  right: 0;
}

.container .card .info .info__img {
  max-height: 100%;
  width: 100%;
  position: absolute;
}

.container .card .info .promo {
  position: absolute;
  width: 100%;
  top: 2rem;
  right: 0;
  text-align: right;
  font-weight: bold;
}

.container .card .info .colors {
  position: absolute;
  bottom: .5rem;
  right: .7rem;
  text-align: right;
  width: 100%;
  font-size: 1.2em;
}

.container .card .info .colors__title {
  font-weight: bold;
}

.container .card .info .colors .list {
  list-style: none;
}

.container .card .description {
  height: 40%;
  padding: .3rem;
  position: relative;
  background: #067bc2;
}

.container .card .description .title {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.container .card .description__content {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
}

.container .card .description .link {
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: lightgray;
  text-decoration: none;
  font-size: 1.2em;
  transition: color .3s ease;
}

.container .card .description .link:hover {
  color: #fff;
}

.container .card .description .buy {
  left: 0;
}

.container .header {
  grid-area: header;
  background: #c43939;
}

.container .sidebar {
  grid-area: sidebar;
  background: #33a325;
  border: 1px solid #000;
}

.container .footer {
  grid-area: footer;
  background: #22b152;
}

.container .header, .container .footer, .container .sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
