* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
}

.container {
  background: #367DD9;
  width: 100%;
  display: grid;
  grid-template: "header header header header" 10vh "sidebar main main main" 1fr "sidebar main main main" 1fr "sidebar main main main" 1fr "footer footer footer footer" 10vh/1fr 1fr 1fr 1fr;
}

@media (max-width: 1255px) {
  .container {
    grid-template: "header" 5rem "sidebar" 5rem "main" 1fr "footer" 5rem/1fr;
  }
}

.container .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-area: main;
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

.container .card {
  margin: 2rem;
  position: relative;
  background: #2955D9;
  min-width: 273px;
  max-width: 400px;
  height: 45vh;
  border-radius: 6px;
  padding: 1.5rem;
  color: #aaa;
  overflow: hidden;
}

@media (max-width: 780px) {
  .container .card {
    margin: 2rem auto;
  }
}

.container .card .image {
  height: 51%;
  width: 100%;
}

.container .card .image__img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.container .card .description {
  height: 49%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.container .card .description__content {
  padding-top: .7em;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
}

.container .card .description .colors {
  padding-top: .5em;
  width: 40%;
}

.container .card .description .colors__list {
  list-style: none;
  width: 100%;
}

.container .card .description .colors__list li {
  padding-top: .2em;
  padding-left: .5em;
}

.container .card .description .colors__list li:nth-of-type(1)::before {
  content: '';
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
  margin-right: 5px;
  display: inline-block;
}

.container .card .description .colors__list li:nth-of-type(2)::before {
  content: '';
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background: #154ea3;
  border: 1px solid #000;
  margin-right: 5px;
  display: inline-block;
}

.container .card .description .colors__list li:nth-of-type(3)::before {
  content: '';
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background: #c91c1c;
  border: 1px solid #000;
  margin-right: 5px;
  display: inline-block;
}

.container .card .description .price {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: .7em;
}

.container .card .description .price__value, .container .card .description .price__promo {
  width: 100%;
  text-align: right;
}

.container .card .description .price__promo {
  padding-top: .2em;
  color: #ad1b1b;
}

.container .card .description .buy,
.container .card .description .more {
  width: 50%;
  position: absolute;
  bottom: 1.5rem;
}

.container .card .description .buy__link,
.container .card .description .more__link {
  color: #aaa;
  text-decoration: none;
  transition: color .3s ease;
}

.container .card .description .buy__link:hover,
.container .card .description .more__link:hover {
  color: #fff;
}

.container .card .description .buy {
  left: 1.5rem;
}

.container .card .description .more {
  right: 1.5rem;
  text-align: right;
}

.container .header {
  grid-area: header;
  background: #a86921;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.container .sidebar {
  min-width: 300px;
  grid-area: sidebar;
  background: #448C30;
  padding: 2em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}

.container .sidebar form {
  display: flex;
  flex-direction: column;
}

.container .sidebar form label {
  text-align: center;
}

.container .footer {
  grid-area: footer;
  background: #a86921;
}
