* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
    display: grid;
    grid-template:
        "header header header header"10rem 
        "sidebar item1 item2 item3"1fr 
        "sidebar item4 item5 item6"1fr 
        "sidebar item7 item8 item9"1fr 
        "sidebar item10 item11 item12"1fr 
        "footer footer footer footer"10rem;

    .card {
        font-family: 'Roboto', sans-serif;
        height: 20rem;
        background: #067bc2;
        position: relative;
        border: 1px solid #000;
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

        .info {
            height: 60%;
            width: 100%;
            position: relative;

            .price, .promo {
                font-size: 1.2em;
            }

            .price {
                position: absolute;
                top: .5rem;
                right: 0;
            }

            .info__img {
                // max-height: 150%;
                max-height: 100%;
                width: 100%;
                position: absolute;
            }

            .promo {
                position: absolute;
                width: 100%;
                top: 2rem;
                right: 0;
                text-align: right;
                font-weight: bold;
            }

            .colors {
                position: absolute;
                bottom: .5rem;
                right: .7rem;
                text-align: right;
                width: 100%;
                font-size: 1.2em;

                &__title {
                    font-weight: bold;
                }

                .list {
                    list-style: none;
                }
            }
        }

        .description {
            height: 40%;
            padding: .3rem;
            position: relative;
            background: #067bc2;

            .title {
                position: absolute;
                bottom: 5rem;
                width: 100%;
                text-align: center;
                font-weight: bold;
            }
    
            &__content {
                position: absolute;
                bottom: 3rem;
                width: 100%;
                text-align: center;
            }
    
            .link {
                padding: 5px;
                position: absolute;
                bottom: 0;
                right: 0;
                color: rgb(211, 211, 211);
                text-decoration: none;
                font-size: 1.2em;
                transition: color .3s ease;
            }
    
            .link:hover {
                color: #fff;
            }
    
            .buy {
               left: 0;
            }
        }  
    }


    .header {
        grid-area: header;
        background: #c43939;
    }

    .sidebar {
        grid-area: sidebar;
        background: #33a325;
        border: 1px solid #000;
    }

    .footer {
        grid-area: footer;
        background: #22b152;
    }

    .header, .footer, .sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}