* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
}

.container {
    background: #367DD9;
    width: 100%;
    display: grid;

    //GRID METHOD
    // grid-template-columns: repeat(4,1fr);
    // grid-template-rows: 10rem repeat(3,1fr) 10rem;
    // grid-template:
    //     "header header header header"10rem
    //     "sidebar item1 item2 item3"1fr
    //     "sidebar item4 item5 item6"1fr
    //     "sidebar item7 item8 item9"1fr
    //     "footer footer footer footer"10rem / 1fr 1fr 1fr 1fr;

    // @media (max-width:1330px) {
    //     // grid-template-columns: repeat(3,1fr);
    //     // grid-template-rows: 10rem repeat(5,1fr) 10rem;
    //     grid-template:
    //     "header header header"10rem
    //     "sidebar item1 item2"1fr
    //     "sidebar item3 item4"1fr
    //     "sidebar item5 item6"1fr
    //     "sidebar item5 item8"1fr
    //     "sidebar item9  ."1fr
    //     "footer footer footer"10rem / 1fr 1fr 1fr;
    // }

    // @media (max-width:995px) {
    //     // grid-template-columns: repeat(2,1fr);
    //     // grid-template-rows: 10rem repeat(5,1fr) 10rem;
    //     grid-template:
    //     "header header"10rem
    //     "sidebar item1"1fr
    //     "sidebar item2"1fr
    //     "sidebar item3"1fr
    //     "sidebar item4"1fr
    //     "sidebar item5"1fr
    //     "sidebar item6"1fr
    //     "sidebar item7"1fr
    //     "sidebar item8"1fr
    //     "sidebar item9"1fr
    //     "footer footer"10rem / 1fr 1fr;
    // }

    // @media (max-width:823px) {
    //     // grid-template-columns: repeat(2,1fr);
    //     // grid-template-rows: 10rem repeat(5,1fr) 10rem;
    //     grid-template:
    //     "header header"10rem
    //     "sidebar sidebar".5fr
    //     "item1 item2"1fr
    //     "item3 item4"1fr
    //     "item5 item6"1fr
    //     "item7 item8"1fr
    //     "item9 ."1fr
    //     "footer footer"10rem / 1fr 1fr;
    // }

    // @media (max-width:700px) {
    //     // grid-template-columns: repeat(2,1fr);
    //     // grid-template-rows: 10rem repeat(5,1fr) 10rem;
    //     grid-template:
    //     "header"5rem
    //     "sidebar"5rem
    //     "item1"1fr
    //     "item2"1fr
    //     "item3"1fr
    //     "item4"1fr
    //     "item5"1fr
    //     "item6"1fr
    //     "item7"1fr
    //     "item8"1fr
    //     "item9"1fr
    //     "footer"5rem / 1fr;
    // }


    //FLEXBOX METHOD WITH MAIN TAG
    grid-template:
        "header header header header"10rem
        "sidebar main main main"1fr
        "sidebar main main main"1fr
        "sidebar main main main"1fr
        "footer footer footer footer"10rem / 1fr 1fr 1fr 1fr;

    @media (max-width: 780px) {
        grid-template:
            "header"5rem
            "sidebar"5rem
            "main"1fr
            "footer"5rem / 1fr;
    }


    .main {
        display: flex;
        flex-wrap: wrap;
        grid-area: main;
        width: 100%;
        height: 100%;
    }

    .card {
        margin: 2em;
        position: relative;
        background: #2955D9;
        min-width: 273px;
        max-width: 400px;
        min-height: 45vh;
        border-radius: 6px;
        padding: 1.5rem;
        color: #aaa;
        overflow: hidden;

        // @media (max-width:700px) {
        //     margin: 2rem auto;
        // }

        @media (max-width:780px) {
                margin: 2rem auto;
        }

        .image {
            height: 51%;
            width: 100%;

            &__img {
                width: 100%;
                height: 100%;
                border-radius: 1em;
            }
        }

        .description {
            height: 49%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;

            &__content {
                padding-top: .7em;
                display: block;
                text-align: center;
                font-size: 1.2rem;
                font-family: 'Rubik', sans-serif;
            }

            .colors {
                padding-top: .5em;
                width: 40%;

                &__list {
                    list-style: none;
                    width: 100%;
                    text-align: center;

                    li:nth-of-type(1)::before {
                        content: '';
                        width: .8em;
                        height: .8em;
                        border-radius: 50%;
                        background: #fff;
                        border: 1px solid #000;
                        margin-right: 5px;
                        display: inline-block;
                    }

                    li:nth-of-type(2)::before {
                        content: '';
                        width: .8em;
                        height: .8em;
                        border-radius: 50%;
                        background: #154ea3;
                        border: 1px solid #000;
                        margin-right: 5px;
                        display: inline-block;
                    }

                    li:nth-of-type(3)::before {
                        content: '';
                        width: .8em;
                        height: .8em;
                        border-radius: 50%;
                        background: #c91c1c;
                        border: 1px solid #000;
                        margin-right: 5px;
                        display: inline-block;
                    }
                }
            }

            .price {
                width: 60%;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                justify-content: flex-end;
                padding-top: .7em;

                &__promo {
                    padding-top: .2em;
                    color: #ad1b1b;
                }
            }

            .buy,
            .more {
                width: 50%;
                position: absolute;
                bottom: 1.5rem;

                &__link {
                    color: #aaa;
                    text-decoration: none;
                    transition: color .3s ease;
                }

                &__link:hover {
                    color: #fff;
                }
            }

            .buy {
                left: 1.5rem;
            }

            .more {
                right: 1.5rem;
                text-align: right;
            }
        }
    }

    .header {
        grid-area: header;
        background: #a86921;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }

    .sidebar {
        min-width: 300px;
        grid-area: sidebar;
        background: #448C30;
    }

    .footer {
        grid-area: footer;
        background: #a86921;
    }
}